@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #424643;
}

/* headings and logo */


#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    margin-top: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover { 
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#logo1 {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    font-weight: 700;
    margin-top: 35px;
    text-transform: uppercase;
    font-family: Open, sans-serif;
    color:#424643;

}

#logo2 {
    float: left;
    font-size: 250%;
    font-weight: 700;
    margin-top: 35px;
    text-transform: uppercase;
    font-family: Open, sans-serif;
    color: #68de7c;
}

/* cover image */ 

#yoga-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#yoga-women {
    height: 600px;
    width: 100%;
    background: url('../images/yoga-women.webp') no-repeat center center;

    /* animates zoom effect on laoding page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
